@import url("din-5008.css");
@import url("form.css");
@import url("print.css");

/* Anpassungen */

label,
h2,
img,
button {
    user-select: none;
}

#data-fields {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50pt;
}

#sender-data,
#shipping-data {
    display: flex;
    flex-direction: column;
    gap: 4pt;
}

#buttons {
    margin-top: 25px;
    margin-left: 94.488px;
}