@import url("din-5008.css");
@import url("form.css");
@import url("print.css");

/* Anpassungen */

#data-fields {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50pt;
}

#sender-data,
#shipping-data {
    display: flex;
    flex-direction: column;
    gap: 4pt;
}

#equipment {
    margin-top: 18px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}