@page {
    size: A4;
    margin: 0;
}

@media screen {
    body {
        background: #e0e0e0;
        margin: 10mm;
    }

    .din-5008 {
        width: 210mm;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    }

    .textfeld {
        margin-top: 100px !important;
    }
}

@media print {

    .textfeld {
        margin: 0 0 4.23mm 25mm;
    }

    button,
    #recipient,
    select,
    label[for="recipient"],
    label[for="locations"] {
        display: none;
    }

    input:not([type="checkbox"]),
    textarea {
        border: none;
        appearance: none;
        margin-left: 0;
        padding-left: 0;
        color: #000;
    }
}